{% extends 'base.html' %}
{% load formutils %}

{% block content %}
    <form method="post" action="{% url 'login' %}">
        <h1 class="mb-3">Log in</h1>

        {% if form.errors %}
            <p>login was not possible</p>
        {% endif %}

        {% if next %}
            {% if user.is_authenticated %}
                <p>no permission</p>
            {% else %}
                <p>please login</p>
            {% endif %}
        {% endif %}

        {% csrf_token %}

        {{ form|floating_label_form }}

        <button class="btn btn-lg btn-primary btn-block" type="submit">Log in</button>
        <input type="hidden" name="next" value="{{ next }}"/>
        <p><a href="{% url 'password_reset' %}">reset password</a></p>
    </form>
{% endblock %}