{% extends 'base.html' %}

{% block content %}
    <h1>Events</h1>
    {% if event_list %}
        <div class="list-group">
            {% for event in event_list %}
                <a class="list-group-item list-group-item-action" href="{% url 'event_detail' event.id %}">{{ event }}</a>
            {% endfor %}
        </div>
    {% else %}
        <p>There are no events.</p>
    {% endif %}
{% endblock %}