{% extends "base.html" %}
{% load account %}

{% block content %}
    <h1>{{ event }}</h1>
    <div class="list-group">
        <a class="list-group-item list-group-item-action" href="{% url 'hotel_list' %}?event={{ event.id }}">Hotels</a>
        <a class="list-group-item list-group-item-action" href="{% url 'roomsearch_list' %}?event={{ event.id }}">Room
            Searches</a>
        <a class="list-group-item list-group-item-action" href="{% url 'room_list' %}?hotel__event={{ event.id }}">All
            Rooms</a>
    </div>

    {% if user.is_authenticated %}
        <a class="btn btn-primary" href="{% url 'roomsearch_create' event.id %}">Create Room Search</a>
        {% if user|is_moderator %}
            <a class="btn btn-primary" href="{% url 'hotel_create' event.id %}">Create Hotel</a>
        {% endif %}
    {% endif %}
{% endblock %}