{% extends 'base.html' %}

{% block content %}
    <h1>Hotels</h1>
    {% if hotel_list %}
        <div class="list-group">
            {% for hotel in hotel_list %}
                <a class="list-group-item list-group-item-action" href="{% url 'hotel_detail' hotel.id %}">{{ hotel }}</a>
            {% endfor %}
        </div>
    {% else %}
        <p>There are no hotels.</p>
    {% endif %}
{% endblock %}