{% extends "base.html" %}

{% block content %}
    <h1>{{ hotel }}</h1>
    <div class="list-group">
        <a class="list-group-item list-group-item-action" href="{% url 'room_list' %}?hotel={{ hotel.id }}">Rooms</a>
        <a class="list-group-item list-group-item-action"
           href="{% url 'event_detail' hotel.event.id %}">{{ hotel.event }}</a>
    </div>

    {% if user.is_authenticated %}
        <a class="btn btn-primary" href="{% url 'room_create' hotel.id %}">Create Room</a>
    {% endif %}
{% endblock %}