{% extends "base.html" %}

{% load account %}

{% block content %}
    <h1>{{ person }}</h1>
    <div class="list-group">
        {% if person.name %}
            <div class="list-group-item">{{ person.name }}</div>
        {% endif %}
        {% if person.email %}
            <a class="list-group-item list-group-item-action" href="mailto:{{ person.email }}">{{ person.email }}</a>
        {% endif %}
        {% if person.discord %}
            <div class="list-group-item">{{ person.discord }}</div>
        {% endif %}
        {% if person.description %}
            <div class="list-group-item">{{ person.description }}</div>
        {% endif %}
    </div>

    {% if user|manages:person %}
        <a class="btn btn-primary" href="{% url 'person_edit' person.id%}">Edit</a>
    {% endif %}

{% endblock %}