{% extends 'base.html' %}

{% block content %}
    <h1>Persons</h1>
    {% if person_list %}
        <div class="list-group">
            {% for person in person_list %}
                <a class="list-group-item list-group-item-action" href="{% url 'person_detail' person.id %}">{{ person }}</a>
            {% endfor %}
        </div>
    {% else %}
        <p>There are no persons.</p>
    {% endif %}
{% endblock %}