{% extends "base.html" %}

{% block content %}
    <h1>{{ roomsearch }}</h1>
    <div class="list-group">
        <a href="{% url 'person_detail' roomsearch.person.id %}"
           class="list-group-item list-group-item-action">{{ roomsearch.person }}</a>
        <a href="{% url 'event_detail' roomsearch.event.id %}"
           class="list-group-item list-group-item-action">{{ roomsearch.event }}</a>
        {% if roomsearch.description %}
            <div class="list-group-item">{{ roomsearch.description }}</div>
        {% endif %}
    </div>

    {% for person in user.person_set.all %}
        {% for room in person.owned_rooms.all %}
            {% if room.hotel.event == roomsearch.event and not room.is_full %}
                <form action="{% url 'invite_create' room.id roomsearch.id %}" method="post">
                    {% csrf_token %}
                    <input type="submit" class="btn btn-primary" value="Invite to {{ room }}"/>
                </form>
            {% endif %}
        {% endfor %}
    {% endfor %}

{% endblock %}