{% extends 'base.html' %}

{% block content %}
    <h1>Room Searches</h1>
    {% if roomsearch_list %}
        <div class="list-group">
            {% for roomsearch in roomsearch_list %}
                <a class="list-group-item list-group-item-action" href="{% url 'roomsearch_detail' roomsearch.id %}">{{ roomsearch }}</a>
            {% endfor %}
        </div>
    {% else %}
        <p>There are no room searches.</p>
    {% endif %}
{% endblock %}