{% extends "base.html" %}

{% block content %}
    <h1>{{ room }}</h1>
    <div class="list-group">
        <a href="{% url "hotel_detail" room.hotel.id %}"
           class="list-group-item list-group-item-action">{{ room.hotel }}</a>
        <a href="{% url 'person_detail' room.owner.id %}"
           class="list-group-item list-group-item-action">{{ room.owner }}</a>
        <a href="{% url 'person_list' %}?rooms={{ room.id }}" class="list-group-item list-group-item-action">
            <span class="badge
{% if room.is_full %}badge-danger{% else %}badge-primary{% endif %}
badge-pill">{{ room.people.count }}/{{ room.maxPeople }}</span> people
        </a>
    </div>

    {% if not room.is_full %}
        {% for person in user.person_set.all %}
            {% for search in person.roomsearch_set.all %}
                {% if search.event == room.hotel.event %}
                    <form action="{% url 'request_create' room.id search.id %}" method="post">
                        {% csrf_token %}
                        <input type="submit" class="btn btn-primary" value="Request join {{ search.person }}"/>
                    </form>
                {% endif %}
            {% endfor %}
        {% endfor %}
    {% endif %}

{% endblock %}