{% extends 'base.html' %}

{% block content %}
    <h1>Rooms</h1>
    {% if room_list %}
        {% if not "Count__people__lt" in request.GET %}
            <form method="get" action="{{ request.get_full_path }}">
                {% for key, value in request.GET.items %}
                    <input type="hidden" name="{{ key }}" value="{{ value }}"/>
                {% endfor %}
                <input type="hidden" name="Count__people__lt" value="F(maxPeople)"/>
                <input class="btn btn-primary" type="submit" value="Filter full rooms"/>
            </form>
        {% else %}
            <form method="get" action="{{ request.get_full_path }}">
                {% for key, value in request.GET.items %}
                    {% if key != "Count__people__lt" %}
                        <input type="hidden" name="{{ key }}" value="{{ value }}"/>
                    {% endif %}
                {% endfor %}
                <input class="btn btn-primary" type="submit" value="List all rooms"/>
            </form>
        {% endif %}
        <div class="list-group">
            {% for room in room_list %}
                <a class="list-group-item list-group-item-action" href="{% url 'room_detail' room.id %}">{{ room }}</a>
            {% endfor %}
        </div>
    {% else %}
        <p>There are no rooms.</p>
    {% endif %}
{% endblock %}