
.floating-label-group {
    position: relative;
    display: flex;
    flex-direction: column;
    margin-bottom: 1rem;
}

label{
    order: -1;
}

.floating-label-group > input[type="text"],
.floating-label-group > input[type="password"],
.floating-label-group > input[type="number"],
.floating-label-group > input[type="text"] ~ label,
.floating-label-group > input[type="password"] ~ label,
.floating-label-group > input[type="number"] ~ label,
.floating-label-group > textarea ~ label {
    height: 3.125rem;
    padding: .75rem;
}

.floating-label-group > textarea {
    padding: .75rem;
}

.floating-label-group > input[type="text"] ~ label,
.floating-label-group > input[type="password"] ~ label,
.floating-label-group > input[type="number"] ~ label,
.floating-label-group > textarea ~ label {
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    margin-bottom: 0; /* Override default `<label>` margin */
    line-height: 1.5;
    color: #495057;
    pointer-events: none;
    cursor: text; /* Match the input under the label */
    border: 1px solid transparent;
    border-radius: .25rem;
    transition: all .1s ease-in-out;
}

.floating-label-group input[type="text"]::-webkit-input-placeholder,
.floating-label-group input[type="password"]::-webkit-input-placeholder,
.floating-label-group input[type="number"]::-webkit-input-placeholder,
.floating-label-group textarea::-webkit-input-placeholder {
    color: transparent;
}

.floating-label-group input[type="text"]:-ms-input-placeholder,
.floating-label-group input[type="password"]:-ms-input-placeholder,
.floating-label-group input[type="number"]:-ms-input-placeholder,
.floating-label-group textarea:-ms-input-placeholder {
    color: transparent;
}

.floating-label-group input[type="text"]::-ms-input-placeholder,
.floating-label-group input[type="password"]::-ms-input-placeholder,
.floating-label-group input[type="number"]::-ms-input-placeholder,
.floating-label-group textarea::-ms-input-placeholder {
    color: transparent;
}

.floating-label-group input[type="text"]::-moz-placeholder,
.floating-label-group input[type="password"]::-moz-placeholder,
.floating-label-group input[type="number"]::-moz-placeholder,
.floating-label-group textarea::-moz-placeholder {
    color: transparent;
}

.floating-label-group input[type="text"]::placeholder,
.floating-label-group input[type="password"]::placeholder,
.floating-label-group input[type="number"]::placeholder,
.floating-label-group textarea::placeholder {
    color: transparent;
}

.floating-label-group input[type="text"]:not(:placeholder-shown),
.floating-label-group input[type="password"]:not(:placeholder-shown),
.floating-label-group input[type="number"]:not(:placeholder-shown),
.floating-label-group textarea:not(:placeholder-shown) {
    padding-top: 1.25rem;
    padding-bottom: .25rem;
}

.floating-label-group input[type="text"]:not(:placeholder-shown) ~ label,
.floating-label-group input[type="password"]:not(:placeholder-shown) ~ label,
.floating-label-group input[type="number"]:not(:placeholder-shown) ~ label,
.floating-label-group textarea:not(:placeholder-shown) ~ label {
    padding-top: .25rem;
    padding-bottom: .25rem;
    font-size: 12px;
    color: #777;
}

/* Fallback for Edge
-------------------------------------------------- */
@supports (-ms-ime-align: auto) {
    .floating-label-group > input[type="text"] ~ label,
    .floating-label-group > input[type="password"] ~ label,
    .floating-label-group > input[type="number"] ~ label,
    .floating-label-group > textarea ~ label {
        display: none;
    }

    .floating-label-group input[type="text"]::-ms-input-placeholder,
    .floating-label-group input[type="password"]::-ms-input-placeholder,
    .floating-label-group input[type="number"]::-ms-input-placeholder,
    .floating-label-group textarea::-ms-input-placeholder {
        color: #777;
    }
}

/* Fallback for IE
-------------------------------------------------- */
@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
    .floating-label-group > input[type="text"] ~ label,
    .floating-label-group > input[type="password"] ~ label,
    .floating-label-group > input[type="number"] ~ label,
    .floating-label-group > textarea ~ label {
        display: none;
    }

    .floating-label-group input[type="text"]:-ms-input-placeholder,
    .floating-label-group input[type="password"]:-ms-input-placeholder,
    .floating-label-group input[type="number"]:-ms-input-placeholder,
    .floating-label-group textarea:-ms-input-placeholder {
        color: #777;
    }
}
